<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net40" />
  <package id="Zafir" version="4.0.157.31-beta6" targetFramework="net40" />
  <package id="Zafir.FSharp" version="4.0.157.31-beta6" targetFramework="net40" />
  <package id="Zafir.UI.Next" version="4.0.119.20-beta6" targetFramework="net40" />
</packages>